<%- include('./partials/header') %>
<!-- homepage greeting word -->
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <!-- homepage greeting img -->
  <div class="col-12 col-lg-6">
    <svg
      width="607"
      height="400"
      viewBox="0 40 200 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <clipPath id="clipShape">
          <path
            fill="#FF0066"
            d="M40.6,-25.2C51.4,-4.7,58.2,16.4,50.8,31.4C43.3,46.4,21.7,55.3,-3.5,57.3C-28.6,59.4,-57.3,54.5,-68.4,37.3C-79.6,20.2,-73.3,-9.2,-58.9,-31.7C-44.6,-54.2,-22.3,-69.8,-3.7,-67.6C14.9,-65.5,29.8,-45.6,40.6,-25.2Z"
            transform="translate(100 100)"
          />
        </clipPath>
      </defs>
      <image
        clip-path="url(#clipShape)"
        href="/images/home1.jpg"
        width="300"
        height="200"
      />
    </svg>
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">
      Welcome back to your home recipes box
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo,
      obcaecati assumenda placeat perspiciatis numquam asperiores eveniet
      voluptatibus mollitia facilis omnis tenetur non rerum, nemo similique
      fuga, consectetur quaerat eius.
    </p>
  </div>

  <!-- homepage buttons -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a href="/recipes" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
      >View More</a
    >
    <a href="/recipes" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
      >Most popular</a
    >
  </div>
</div>

<!-- latest recipes -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <%recipes.forEach((recipe)=>{%>
  <div class="col">
    <div class="card">
      <img src="/images/recipe1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=recipe.title%></h5>
        <p class="card-text"><%=recipe.description%></p>
        <a href="/recipes/<%=recipe._id%>" class="btn btn-outline-info">View</a>
        <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-outline-warning"
          >Edit</a
        >
      </div>
    </div>
  </div>
  <%})%>
</div>

<%- include('./partials/footer') %>
