<%- include("../partials/header")%>
<h1 class="text-center mb-5">Current Shoppinglists</h1>
<div class="row row-cols-1 row-cols-md-3 g-2">
  <%shoppinglists.forEach(function(list){%>
  <div class="col">
    <div class="card w-100">
      <!-- delete card button-->
      <div class="card-header bg-secondary">
        <form
          action="/shoppinglists/<%= list._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <!-- <input type="hidden" name="_method" value="DELETE" /> -->
          <button
            type="submit"
            class="btn-close btn-close-white"
            aria-label="Close"
          ></button>
        </form>
      </div>
      <!-- card detail -->
      <!-- <img src="/images/recipe1.jpg" class="card-img-top" alt="..." /> -->
      <div class="card-body">
        <h5 class="card-title"><%=list.title%></h5>

        <ul class="list-group list-group-flush">
          <%list.ingredients.slice(0,3).forEach((ingredient)=>{%>
          <li class="list-group-item"><%=ingredient.name%></li>
          <%})%>
        </ul>

        <a href="/shoppinglists/<%=list._id%>" class="btn btn-secondary btn-sm"
          >Details</a
        >
      </div>
    </div>
  </div>
  <%})%>
</div>

<%- include("../partials/footer")%>
