<%- include("../partials/header")%>

<div class="row row-cols-1 row-cols-md-3 g-2">
  <%recipes.forEach(function(recipe){%>
  <div class="col">
    <div class="card w-100">
      <img
        src="<%=recipe.image%>"
        class="card-img-top"
        alt="foodimage"
        width="407"
        height="310"
      />

      <div class="card-body">
        <h5 class="card-title"><%=recipe.title%></h5>
        <p class="card-text"><%=recipe.description%></p>

        <a href="/recipes/<%=recipe._id%>" class="btn btn-dark btn-sm">View</a>
        <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-dark btn-sm"
          >Edit</a
        >
        <form
          action="/recipes/<%= recipe._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="btn btn-outline-secondary btn-sm">
            Delete
          </button>
        </form>
      </div>
      <div class="card-footer text-body-secondary text-end">
        <small class="text-body-secondary"
          ><%=recipe.updatedAt.toLocaleDateString('en-GB')%></small
        >
      </div>
    </div>
  </div>
  <%})%>
</div>

<%- include("../partials/footer")%>
