<%- include("../partials/header")%>

<div class="row row-cols-1 row-cols-md-3 g-2">
  <%recipes.forEach(function(recipe){%>
  <div class="col">
    <div class="card w-100">
      <img
        src="<%=recipe.image%>"
        class="card-img-top"
        alt="foodimage"
        width="607"
        height="510"
      />
      <div class="card-body">
        <h5 class="card-title"><%=recipe.title%></h5>
        <p class="card-text"><%=recipe.description%></p>

        <a href="/recipes/<%=recipe._id%>" class="btn btn-outline-info">View</a>
        <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-outline-warning"
          >Edit</a
        >
      </div>
    </div>
  </div>
  <%})%>
</div>

<%- include("../partials/footer")%>
