<%- include("../partials/header")%>

<div class="row g-10">
  <div class="col-12 col-md-12">
    <!-- recipe Top -->
    <div class="recipeShowTop row">
      <div class="col-md">
        <img
          src="<%=recipe.image%>"
          class="img-fluid sticky-top"
          style="top: 20px"
          alt="foodimage"
          width="400"
          height="300"
        />
      </div>

      <div class="col-md">
        <h1 class="showpageHeading display-5 fw-bold text-center">
          <%- recipe.title %>
        </h1>
        <!-- other info -->
        <ul class="lead text-center">
          <li>Preparation Time: <%=recipe.preparationTime%> min</li>
          <li>Cooking Time: <%=recipe.cookingTime%> min</li>
          <li>Category: <%=recipe.category%></li>
          <li>Serving: <%=recipe.serving%></li>
          <li>Difficulty: <%=recipe.difficulty%></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <!-- Instructions -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cooking Instructions</h5>
            <p class="card-text"><%= recipe.instruction %></p>
          </div>
        </div>
      </div>
      <!-- Ingredients -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <% recipe.ingredients.forEach(function(i){ %>
              <li class="list-group-item"><%= i %></li>
              <% }) %>
            </ul>
            <!-- retrieve the recipe ingredients-->
            <form method="POST" action="/shoppinglists">
              <!-- get recipe id, by passing "name" property + value -->
              <input
                type="hidden"
                id="recipeId"
                name="recipeId"
                value="<%=recipe._id%>"
              />
              <button type="submit" class="btn btn-secondary btn-sm">
                Create Shoplist
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- add reviews -->
      <div class="recipeShowReview row">
        <% if(user){%>
        <div class="card col-sm-6">
          <h5 class="card-header">Reviews</h5>
          <div class="card-body">
            <form action="/recipes/<%= recipe._id %>/reviews" method="POST">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Review</label
                >
                <textarea
                  class="form-control"
                  rows="3"
                  name="content"
                ></textarea>
              </div>
              <div class="mb-3">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="rating"
                >
                  <option selected>Select Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button type="submit" class="btn btn-secondary btn-sm mt-4">
                  Add Review
                </button>
              </div>
            </form>
          </div>
        </div>
        <%}%>

        <!-- show reviews -->
        <div class="col-sm-6">
          <ol class="list-group ml-3">
            <% if (recipe.reviews.length>0) { %>
            <%recipe.reviews.forEach(function(r) { %>
            <li
              class="list-group-item list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="review-user d-flex w-100 justify-content-start">
                  <img
                    alt="avatar"
                    src="<%= r.userAvatar %>"
                    referrerpolicy="no-referrer"
                  />
                  <div class="fw-bold text-align-start"><%=r.userName%></div>
                </div>
                <p class="mb-1"><%=r.content%></p>
                <small class="position-absolute bottom-0 end-0 text-muted"
                  ><%=r.updatedAt.toLocaleDateString('en-GB')%></small
                >
              </div>
              <span class="badge text-bg-warning rounded-pill"
                ><%=r.rating%> stars</span
              >
            </li>
            <p></p>
            <% }); %> <% } else { %>
            <h5>No Reviews Yet</h5>
            <% } %>
            <p class="badge text-bg-warning">
              Average <%= recipe.averageRating() %>
            </p>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <%- include("../partials/footer")%>
</div>
